html{
  background-color: #2F4F4F
}


img{
  padding-top: 10px;
}
#header{
  background-color:#20B2AA;
  height: 130px;
}

#header #logo{
  padding-left: 50px;
  float:left;
}

#header #title{
  padding-top:18px;
  float:left;

}

#header #foodaholics{
 position:relative;
   right:25px;
}

#chose{
  color:#d3d3d3;
  font-family: 'Work Sans', sans-serif;
  padding-left:40px;
  padding-top: 30px;
  margin-bottom: 50px;
}

input[name=firstname]{
  margin-left:50px;
}

input[name=lastname]{
  margin-left:57px;
}

input[name=email]{
  width:300px;
  margin-left:80px;
}

input[name=username]{
  margin-left:56px;
}

input[name=password]{
  margin-left:56px;
}

label{
  margin-left:50px;
  color:#d3d3d3;
  font-family:verdana;
  font-size: 0.9rem;
}

.preenche{
  width:200px;
  padding-top: 8px;
  padding-bottom:8px;
  margin-left:20px;
  margin-bottom:20px;
  padding-right: 5px;
  padding-left:5px;
  border-radius:10px;
  outline:0;
  border:none;
}

.button{
  font-family: verdana;
  font-size: 0.9rem;
  margin-left:100px;
  margin-top:40px;
  background-color: #d3d3d3;
  border-radius:5px;
  padding:5px;
  outline: 0;

}



 #un{
   width:100%;
   display:inline-block;
 }
