html{
  background-color: #2F4F4F
}

/*body{
    overflow-x:hidden;

}*/

img{
  padding-top: 10px;
}

#header{
  background-color:#20B2AA;
  height: 130px;
}

#header #logo{
  padding-left: 50px;
  float:left;
}

#header #title{
  padding-top:18px;
  float:left;

}

 #header #foodaholics{
  position:relative;
  right:25px;
}


#header #right{
  padding-top:35px;
  padding-right:100px;
  float:right;
}

#header #right .search2{
  width: 120px;
  margin: 5px;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  outline: 0;
  border:none;
}

#header #right .search1{
  width: 120px;
  margin: 15px;
  padding: 3px 5px 3px 5px;
  border-radius: 10px;
  border:none;
  outline: 0;
}


#header #bottom {
  float: right;
  padding-right: 185px;
  font-family: 'Work Sans', sans-serif;
}


#header #bottom #new_user{
  color:black;
  font-size: 100%;
  float: left;
}


#header #bottom #register{
  color:black;
  float: right;
  margin-left: 5px;
}

#login{
  background-color: white;
  padding: 3px 5px 3px 5px;
  margin-left: 15px;
  color: #20B2AA;
  outline: 0;
  cursor:pointer;
}

/*#login:hover, #login:focus {
    background-color:#A9A9A9;
}*/


#content{
  background-color:	#2F4F4F;
  clear:left;
  clear:right;
	padding-bottom: 30px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

form {
  width:1000px;
  margin:40px 300px;
  display: inline-block;
}

form .search{
  padding:8px 300px 10px 35px;
  margin:5px;
  border-radius:15px;
  background: url('search-icon.png');
  background-size:15px 15px;
  background-color: white;
  background-repeat: no-repeat;
  background-position:10px;
  outline: 0;
  border: none;

}

form .button{
  margin-left: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
    border-radius: 10px;
    background: url('search-icon.png');
    background-size:15px 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-position:15px;
    outline: 0;
    border:none;
    cursor:pointer;

}
