html,body{
  background-image: url("../res/images/rest3.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.restaurantImage #img{
  width:250px;
  height:auto;
  float:left;
  padding-left:13%;
  padding-top: 9%;



}


.rest{
  z-index:10;
  float:right;
  margin-top: 2%;
  color:#041B15;
  font-family: 'Work Sans', sans-serif;
  height:160px;
  text-align:center;
  display: block;


}










