body, html {
    height: 100%;

}

.parallax {
    /* The image used */
    background-image: url("../res/images/rest3.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*BUTTONS*/
#container #logo .logo{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

#container #buttons #login{
     background-color: #E2FCEF;
     position: absolute;
     top:56%;
     left: 40%;
     padding: 4px 24px;
     text-align: center;
     text-decoration: none;
     font-size: 16px;
     transition-duration: 0.4s;
     cursor: pointer;
     border-radius: 6px;
     color: #454955;
     border: 2px solid #454955;
     font-family: 'Work Sans', sans-serif;
     width:120px;
     outline: 0;
 }

#container #buttons #login:hover {
    background-color:#454955 ;
    color: #E2FCEF;
}

#container #buttons #register{
    background-color: #E2FCEF;
    position: absolute;
    top:56%;
    left: 52%;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
    color: #454955;
    border: 2px solid #454955;
    font-family: 'Work Sans', sans-serif;
    width:120px;
    outline: 0;

}

#container #buttons #register:hover {
    background-color:#454955 ;
    color: #E2FCEF;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline:0;
}

#formContainer .formPU #loginPU{
    margin-top: 10px;
    padding: 4px ;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    color: #454955;
    border: 1px solid #454955;
    font-family: 'Work Sans', sans-serif;
    width:45%;
    outline: 0;
}

#formContainer .formPU #loginPU:hover {
    background-color:#454955 ;
    color: #F3EFF5;
}

#formContainer .formPU #cancelPU:hover {
    background-color:#454955 ;
    color: #F3EFF5;
}

#formContainer .formPU #cancelPU{
    margin-top: 10px;
    float:right;
    padding: 4px ;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    color: #454955;
    border: 1px solid #454955;
    font-family: 'Work Sans', sans-serif;
    width:45%;
    outline: 0;
}

.formPU {
    padding: 16px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #F3EFF5;
    margin: 5% auto 15% auto;
    border: 2px solid #454955;
    width: 20%;
    height:38%;
    font-family: 'Work Sans', sans-serif;
    border-radius: 6px;
}

.modal-content2 {
    background-color: #F3EFF5;
    margin: 5% auto 15% auto;
    border: 2px solid #454955;
    width: 20%;
    height:23%;
    font-family: 'Work Sans', sans-serif;
    border-radius: 6px;

}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#login-error {
  padding-top: 9%;
  color: red;
}


img {
  max-width: 100%;
  display: block;
}

.best_res {
  position: absolute;
  width: 60%;
  height: auto;
  bottom:15%;
  left: 20%;
  float: left;
  top: 70%;
}

.image {
  padding-top: 5%;
  padding-left: 10%;
  display:inline-block;
}

.image img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.image:hover img {
  -webkit-transform:scale(1.25);
  transform:scale(1.25);
  opacity: 0.85;
}



#registerContainer .formPU #registerAs{
    font-size:140%;
}

#registerContainer .formPU #registerO #registerOwner:hover {
    background-color:#454955 ;
    color: #F3EFF5;
}

#registerContainer .formPU #registerO #registerOwner{
    margin-top: 20px;
    float:left;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    color: #454955;
    border: 1px solid #454955;
    font-family: 'Work Sans', sans-serif;
    width:45%;


}

#registerContainer .formPU #registerR #registerReviewer:hover {
    background-color:#454955 ;
    color: #F3EFF5;
}

#registerContainer .formPU #registerR #registerReviewer{
    float:right;
    margin-top: 20px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    color: #454955;
    border: 1px solid #454955;
    font-family: 'Work Sans', sans-serif;
    width:45%;
}

#registerContainer .formPU #cancelRegister:hover {
    background-color:#454955 ;
    color: #F3EFF5;
}

#registerContainer .formPU #cancelRegister{
    float:right;
    margin-top: 25px;
    outline: 0;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2px;
    color: #454955;
    border: 1px solid #454955;
    font-family: 'Work Sans', sans-serif;
    width:30%;
}


.search{
    width:200px;
    display: inline-block;

}

#searchContainer{
    position: absolute;
    width: 35%;
    height: auto;
    float:left;
    left:32%;
    top:60%;

}

#searchContainer #searchBar {
    position:absolute;
    color: black;
    padding: 8px 300px 10px 35px;
    margin: 5px;
    border-radius: 15px;
    background: url('../res/images/search-icon.png');
    background-size: 15px 15px;
    background-color: #E2FCEF;
    background-repeat: no-repeat;
    background-position: 10px;
    outline: 0;
    border: none;
    border: 2px solid #454955;
    font-family: 'Work Sans', sans-serif;
}

#searchContainer #searchButton{
    position:absolute;
    left:105%;
    bottom:-220%;
    padding: 16px 16px 12px 19px;
    border-radius: 12px;
    background: url('../res/images/search-icon.png');
    background-size:15px 15px;
    background-color: #E2FCEF;
    background-repeat: no-repeat;
    background-position:10px;
    outline: 0;
    border:none;
    cursor:pointer;
    border: 2px solid #454955;
    font-family: 'Work Sans', sans-serif;
}

#searchContainer #searchButton:hover{
    background-color:#454955 ;
    color: #F3EFF5;
}