html,body{
    background-image: url("../res/images/rest3.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#big{
  margin:6%;
  width:80%;
  height:240px;
  font-family: 'Work Sans', sans-serif;
  background-color: #F3EFF5;
  position:absolute;
  border-radius: 6px;
  padding:4%;
  border: 1px solid #454955;
}

#each{
  height:300px;
  display:inline-block;
}
img{
  margin-top:10px;
  display:table-cell;
  vertical-align:middle;
  float:left;
}

#right{
  display:table;
  margin-left:70px;
  float:left;
}

.name{
  margin-top: 3%;
  font-size:1.7rem;
}

#editButton{
  margin-top:6%;
  position:absolute;
  cursor: pointer;
  padding:8px;
  color: #454955;
  border: 1px solid #454955;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
}

#editButton:hover{
  background-color:#454955 ;
  color: #F3EFF5;
}

#righter{
  float:right;
  margin-left: 150px;
}

input[type=text], input[type=password], input[type=e-mail] {
  width: 100%;
  padding: 12px 20px 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline:0;
  border-radius:2px;
  }

.button{
  margin-top:1%;
  margin-left:8%;
  position:absolute;
  cursor: pointer;
  padding:8px;
  color: #454955;
  border: 1px solid #454955;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
}

.button:hover{
  background-color:#454955 ;
  color: #F3EFF5;
}
