html,body{
    background-image: url("../res/images/rest3.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container #logo .logo{
    position: absolute;
    top:30%;
    left:50%;
    opacity:0.85;

}

.search{
    width:200px;
    display: inline-block;

}

#searchContainer{
    position: absolute;
    width: 40%;
    height: auto;
    float:left;
    left:48%;
    top:43%;
    opacity:0.9;


}

#username{
  width:15%;
  background-color: #E2FCEF;
  position: absolute;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  color: #454955;
  border: 2px solid #454955;
  font-family: 'Work Sans', sans-serif;
}


#searchContainer #searchBar {
    position:absolute;
    padding: 8px 250px 10px 35px;
    margin: 6px;
    border-radius: 15px;
    background: url('../res/images/search-icon.png');
    background-size: 15px 15px;
    background-color: #E2FCEF;
    background-repeat: no-repeat;
    background-position: 10px;
    outline: 0;
    border: none;
    border: 2px solid #454955;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

#searchContainer #searchButton{
    position:absolute;
    left:105%;
    bottom:-220%;
    padding: 16px 16px 12px 19px;
    border-radius: 12px;
    background: url('../res/images/search-icon.png');
    background-size:15px 15px;
    background-color: #E2FCEF;
    background-repeat: no-repeat;
    background-position:10px;
    outline: 0;
    border:none;
    cursor:pointer;
    border: 2px solid #454955;
    font-family: 'Work Sans', sans-serif;

}

#searchContainer #searchButton:hover{
    background-color:#454955 ;
    color: #F3EFF5;
    opacity:0.85;
}

#userImage{
    float:left;
    padding-left:16%;
    padding-top: 12%;
    cursor:pointer;
    border-radius:4px;

}

.userOptions {
    position: absolute;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E2FCEF;
    width:200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Work Sans', sans-serif;
}

a {
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align:center;
    display: block;
    border: 1px solid #454955;
    opacity:0.8;
}

.dropdown a:hover {background-color:#d9d9d9}
.show {display:block;}
