html{
  background-color: #2F4F4F
}

body{
margin: 0 auto;
max-width: 100%;
}
/*
img{
  padding-top: 10px;
}*/

#header{
  background-color:#20B2AA;
  height: 130px;
}

#header #logo{
  padding-left: 50px;
  float:left;
}

#header #title{
  padding-top:18px;
  float:left;

}

#header #foodaholics{
 position:relative;
   right:25px;
}

#header #userImage{
  float:right;
  padding-right:100px;
  cursor:pointer;

}

#header #userName{
    float:right;
    font-family: 'Work Sans', sans-serif;
    font-size:150%;
    margin-right: 3%;
    margin-top: 0.65%;


}

.userOptions {
    position: absolute;
    display: inline-block;

}


.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 7px;
    background-color: #f9f9f9;
    width:110px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Work Sans', sans-serif;

}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align:center;
    display: block;
}

.dropdown a:hover {background-color:#d9d9d9}
.show {display:block;}


#content{
  position: absolute;
  background-color:	#2F4F4F;
  width: 100%;
  height: auto;
  float:left;
  left:8%;

}

form {
  width:1000px;
  margin:40px 300px;
  display: inline-block;
}

form .search{
  padding:8px 300px 10px 35px;
  margin:5px;
  border-radius:15px;
  background: url('../res/images/search-icon.png');
  background-size:15px 15px;
  background-color: white;
  background-repeat: no-repeat;
  background-position:10px;
  outline: 0;
  border: none;

}

form .button{
  padding:16px 16px 12px 16px;
    border-radius: 10px;
    background: url('../res/images/search-icon.png');
    background-size:15px 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-position:10px;
    outline: 0;
    border:none;
    cursor:pointer;

}

img {
  max-width: 100%;
  display: block;
}

.image1 {
  position: absolute;
  left:400px;
  padding-top: 200px;

  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.best_res {
  position: absolute;
  width: 60%;
  height: auto;
  bottom:15%;
  left: 20%;
  float: left;
}

.image {
  padding-top: 5%;
  padding-left: 10%;
  display:inline-block;
}

.image img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.image:hover img {
  -webkit-transform:scale(1.25);
  transform:scale(1.25);
  opacity: 0.85;
}
