html{
  background-color: #2F4F4F;
  overflow: hidden;
}

body{
  min-width:1300px;
}

#header{
  background-color:#20B2AA;
  height: 130px;
}

#header #logo{
  padding-left: 50px;
  float:left;
}

#header #foodaholics{
  margin-top: 2%;
  float:left;
  position:relative;
  right:25px;
}


#header #right{
  padding-top:35px;

  float:right;
  position:absolute;
}




#header #right .search2{
  width: 120px;
  margin: 5px;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  outline: 0;
  border:none;
  position:relative;
  right:200px;
  bottom:40px;

}

#header #right .search1{
  width: 120px;
  margin: 15px;
  padding: 3px 5px 3px 5px;
  border-radius: 10px;
  border:none;
  outline: 0;
  position:relative;
  right:200px;
  bottom:40px;
}


#header #bottom {
  float: right;
  padding-right: 185px;
  font-family: 'Work Sans', sans-serif;
  position:relative;
  top:100px;
  right:67px;

}


#header #bottom #new_user{
  color:black;
  font-size: 100%;
  float: left;

}


#header #bottom #register{
  color:black;
  float: right;
  margin-left: 5px;

}

#login{
  background-color: white;
  padding: 3px 5px 3px 5px;
  margin-left: 15px;
  color: #20B2AA;
  outline: 0;
  cursor:pointer;
  position: relative;
  right:180px;
  bottom:40px;
}

/*#login:hover, #login:focus {
    background-color:#A9A9A9;
}*/


#content{
  position: absolute;
  background-color:	#2F4F4F;
  width: 100%;
  height: auto;
  float:left;
  left:8%;
}

form {
  width:1000px;
  margin:40px 300px;
  display: inline-block;
}

form .search{
  color:black;
  padding:8px 300px 10px 35px;
  margin:5px;
  border-radius:15px;
  background: url('../res/images/search-icon.png');
  background-size:15px 15px;
  background-color: white;
  background-repeat: no-repeat;
  background-position:10px;
  outline: 0;
  border: none;

}

form .button{
  padding:16px 16px 12px 16px;
    border-radius: 8px;
    background: url('../res/images/search-icon.png');
    background-size:15px 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-position:10px;
    outline: 0;
    border:none;
    cursor:pointer;

}



img {
  max-width: 100%;
  display: block;
}

.image1 {
  position: absolute;
  left:400px;
  padding-top: 200px;

  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.best_res {
  position: absolute;
  width: 60%;
  height: auto;
  bottom:15%;
  left: 20%;
  float: left;
}

.image {
  padding-top: 5%;
  padding-left: 10%;
  display:inline-block;
}

.image img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.image:hover img {
  -webkit-transform:scale(1.25);
  transform:scale(1.25);
  opacity: 0.85;
}
